<html>
    <head></head>
    <body>
        <h1>Edit page</h1>
        <form class="" action ="/meds/edit/{{med.mid}}" method ="post">
        <input type="text" value={{med.name}} name="name" placeholder="" >
        <input type="text" value={{med.count}}  name="count" placeholder="" >
        <input type="text"  value={{med.brand}}  name="brand" placeholder="" >
        <button type="submit">Add</button>
        </form>
    </body>
</html>